@font-face {
    font-family: Gilroy;
    src: url(Gilroy-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Gilroy,sans-serif;
}


html,body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(178, 212, 178);
}

.main{
    height: 100%;
    width: 100%;
    background-color: rgb(178, 212, 178);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamepad{
    /* display: flex; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}


.upper-part{
    width: 100%;
    height:100px;
    background-color: rgb(89, 145, 89);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display:flex;
    width: 60%;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;

}

.elem{
    display:flex;
    padding: 10px;
    color: white;
    
}
.elem h2{
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin: 5px;
}
/* .value{
    background-color: #fff;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: green;
} */

.hit,.score,.time{
    background-color: #fff;
        border-radius: 2px;
        font-size: 20px;
        font-weight: 700;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        color: green;
}

.lower-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 100px);
    width: 100%;
    padding: 5px 10px;
    flex-wrap: wrap;
    text-align: center;
    /* background-color: red; */
}

.bubble{
display: flex;
justify-content: center;
align-items:center;
height: 40px;
width: 40px;
background-color: rgb(89, 145, 89);
border-radius: 50%;
margin: 4px;
/* margin-right: 3px; */
}

.bubble:hover{
   cursor: pointer;
}

.b-value{
    color: white;
}

button{
    background-color: rgb(89, 145, 89);
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: large;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
}



#container{
    font-size: 30px;
    font-weight: 900;
    height: 50vh;
    width: 50vw;
    background-color: rgb(178, 212, 178);
    color: #fff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#container h2{
    font-size: 40px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-top: -100px;
    margin-bottom: 50px;
}

th,td{
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}


@media (max-width:700px){
    .gamepad{
     height: 59vh;
    }

    .box{
        justify-content: center;
    }

}